
        

        .contenedor {
            display: grid;
            gap: 10px;
            background-color: rgb(247, 246, 246);
            padding: 10px;
            grid-template-rows: 1fr 2fr 2fr 1fr;
            grid-template-areas:
                'header header header header'
                'main    main   main   der'
                'main    main    main  der'
                'main    main    main   publi'
                'footer footer footer footer'
            ;
        }

        html {
            font-size: 1rem;
            height: 100%;
        }

        


        .header{
            grid-area: header;
            background: white;
            box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
        }

    
        

        #menu, #menu-check {
            display: none;

        }

        
            
        

        .header-logo{
            width: auto;
            display: inline-block;
            margin: 0.5rem;
        }


        .header-menubar ul{
            list-style: none;
        }

        .header-menubar li{
            float: left;
            font-weight: 800;
            text-align: center;
            margin: 0 0.5rem 0;
             
        }

        .header-menubar{
            left: auto;
            position: relative;
            top: auto;
            width: auto;
            display: inline-block;
            margin: 0.5rem 0 0.5rem 1rem;
        }

        .header-menubar a {
            text-decoration: none;
            color: black;

        }
        .header-menubar a:hover{
            color: purple

        }

        .div {
            grid-area: der;
            background: white;

     
        }
        .div img{
            width: 70%;
            margin: 50px auto 0;
            
        }

        .aside img{
            width: 100%;
            margin: 50px auto 0;
            
        }

        .main {
            grid-area: main;
            background-color: white;
             overflow: auto;

             
        }

        .slider-frame{
            width: 100%;
            height: auto;
            margin: 50px auto 0;
            

            animation: slide 16s infinite alternate ease-in-out;
        }

        .slider-frame ul{
            display: flex;
            padding: 0;
            width: 400%
        }

        .slider-frame li {
            list-style: none;
            width: 100%;

        }
        .slider-frame img {
            width: 50%;
        }
        @keyframes slide {
            0% {margin-left: 0%;}
            20% {margin-left: 0%;}

            25% {margin-left: -100%;}
            45% {margin-left: -100%;}

            50% {margin-left: -200%;}
            70% {margin-left: -200%;}

            75% {margin-left: -300%;}
            95% {margin-left: -300%;}

        }



        .footer {
            grid-area: footer;
            background: white;
        }

        .footer a{
            color: black;
            text-decoration: none;
        }

        .footer a:hover{
            color: purple;
        }

        .aside {
            grid-area: publi;
            background: white;
            
        }

        

        body{
            background-color: rgb(239, 241, 246);
            font-family: fantasy;
        }

        .contenedor>div {
            text-align: center;
            /* selector con mayor especificidad que el de clase, si se activa,
            se impone por sobre las reglas anteriores. */
            /* background-color: lightblue; */
        }

        /* Pantalla 1ercorte */
        @media screen and (max-width: 1920px) {
            .contenedor {
                display: grid;
                gap: 10px;
                background-color: rgb(245, 236, 236);
                padding: 10px;
                grid-template-rows: 0.2fr 0.2fr 0.4fr 0.5fr;
            
                grid-template-areas:
                    'header header header header'
                    'main   main   main   main'
                    'main   main   main   main'
                    'main   main   main   main'
                    'der  der   der   publi'
                    'footer footer footer footer'
                ;
            }

    
        }
        

        /* Pantalla 2do corte*/
        @media screen and (max-width: 1280px) {
            .contenedor {
                display: grid;
                gap: 10px;
                background-color: rgb(245, 236, 236);
                padding: 10px;
                grid-template-rows: 0.2fr 0.2fr 0.4fr 0.5fr;
            
                grid-template-areas:
                    'header header header header'
                    'main   main   main   main'
                    'main   main   main   main'
                    'main   main   main   main'
                    'main   main   main   main'
                    'der  publi   publi   publi'
                    'footer footer footer footer'
                ;
            }

    
        }

         /* tablet 3er corte*/
         @media screen and (max-width: 854px) {
            .contenedor {

                display: grid;
                gap: 10px;
                background-color: rgb(245, 236, 236);
                padding: 10px;
                grid-template-rows: 0.2fr 0.2fr 0.4fr 0.5fr;
            
                grid-template-areas:
                    'header header header header'
                    'main   main   main   main'
                    'main   main   main   main'
                    'der  der   der   der'
                    'publi  publi   publi publi'
                    'footer footer footer footer'
                ;
            }

    
        }
       

    





        /* celu 4to corte */
        @media screen and (max-width: 480px) {
            .contenedor {
                display: grid;
                gap: 10px;
                background-color: rgb(245, 236, 236);
                padding: 10px;
                grid-template-rows: 0.2fr 0.2fr 0.4fr 0.5fr;

                grid-template-areas:
                    'header header header header'
                    'main   main   main   main'
                    'main   main   main   main'
                    'der  der   der   der'
                    'footer footer footer footer'
                ;
                
            }
            .aside{
                display: none;
            }

            
            
        }
        @media  screen  and (max-width: 480px)  {
            
                img {
                    width: 100%;  
        }
            
        

        .header-logo{
            display: none;
            
        }
        

        #menu-check:not(:checked) ~ nav.header-menubar {
            display: none;
        }
    

        #menu-check:checked ~ nav.header-menubar {
            display: block;
        }


        #menu {
            display: block;
            color: purple;
            background-color: white;
            font-size: 1.2rem;
            font-weight: bold;
            border: 3px solid gray;
            position: absolute;
            right: 1.1rem;
            z-index: 999999;
          
        }

        
        #menu-cerrar{
            display: none;
        }

        #menu-check:checked ~ label #menu-abrir{
            display: none;
            
        }

        #menu-check:checked ~ label #menu-cerrar{
            display: block;
        }
        nav.header-menubar{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background-color: #4B4B4B;
            padding-top: 0.5em;
            padding-right: 1.5em;
            opacity: 0.8;
            color: white;
        }

        nav.header-menubar ul a{
            color: #fff;
            background: none;
            

        }
        nav.header-menubar ul  li{
            display: block
            text-align: right;
            
        }

        
        .footer a{
            color: black;
            text-decoration: none;
        }

        .footer a:active{
            color: purple;
        }

        

        #menu:active{
            color: white;
            background-color: black;
        }

        .header-menubar a:active{
            color: #bc4ed8;

        }


        



    }

   

        

    

    
    


    @import url(https://fonts.googleapis.com/css?family=Noto+Sans);


body{
	height: 100%; 
	font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493; 
}


.contact_form{	
	width: 460px; 
  height: auto;
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


button p{
	color: #fff; 
}


span{
	color: #ab4493; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #ab4493;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}


    


    